<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
	Copyright (c) 2018, 2025 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<target name="org.eclipse.passage.baseline">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://github.com/iils-mbh/eclipse.passage.fls/releases/download/v3.1.1/"/>
			<unit id="org.eclipse.passage.lbc.execute.feature.feature.group"/>
			<unit id="org.eclipse.passage.lbc.fls.feature.feature.group"/>
			<unit id="org.eclipse.passage.lic.hc.feature.feature.group"/>
			<unit id="org.eclipse.passage.lic.jetty.feature.feature.group"/>
			<unit id="org.eclipse.passage.lic.net.feature.feature.group"/>
		</location>
	</locations>
</target>